$graphit: #081800;
$graphitBlack: #101c02;
$greenDark: #418a1c;
$green: #51c815;
$darkBlack: #000a01;
$white: #ffffff;
$whitebg: #e5e5e5;
$whitebr: #f7ffec;
$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{calc($addSize / 1.5)} *
      ((100vw - 320px) / #{$maxWidth})
  );
}

@mixin adaptiv-lineHeight($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  line-height: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
%big {
  font-style: normal;
  font-weight: 500;
  @include adaptiv-font(28.8, 14.4);
  @include adaptiv-lineHeight(29, 20);
}
%medium {
  font-family: "Raleway";
  font-weight: 700;
  @include adaptiv-font(18, 16);
  @include adaptiv-lineHeight(29, 20);
}
%small {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
%h1 {
  font-family: "Raleway";
  @include adaptiv-font(60.31, 30);
  @include adaptiv-lineHeight(104.54, 50);
  font-weight: 800;
  color: $graphit;
}
%h2 {
  font-family: "Raleway";
  color: $graphit;
  @include adaptiv-font(57, 28);
  @include adaptiv-lineHeight(79.8, 29);
  font-weight: 800;
}

%h3 {
  font-family: "Raleway";
  font-weight: 600;
  @include adaptiv-font(32, 18);
  @include adaptiv-lineHeight(51, 24);
  color: #081800;
}
